$ancho: 600px;
$blue: blue;
$green: green;
/*maps*/

$redes:(
    twitter:#55acee,
    facebook:#3a5795,
    instagram:#c25e30,

);

@each $red, $color in $redes {
    .btn--#{$red}{
        background-color: $color;
    }
    
}