@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import "variables";
@import "general";
*{
    padding: 0;
    margin:0;


}
header{
    background-image: url("../img/fondobanner.jpg");
    height: 3cm;
    border: 2px solid black;

}

ul li{
    list-style-type: armenian;
}
.header{
    grid-area: header;
    font-size: small;
    display: grid;
}
.main{
    grid-area: main;
    width: 80%;
    margin: auto;
    margin-bottom: 3px;
  }
 
 
.datos{
    grid-area: datos;
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer{
    grid-area: footer;
    height: auto;
    text-align: center;
    margin-top: 3px;
    border: 3px black;
    
}
img{
    border: 3px solid black;
    width: auto;
    height: 500px;
    margin-top: 15px;
}

.padre{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: 800px;
    justify-content: center;
    align-items: center ;
    gap: 100px;

}

body{
    background-color: rgb(125, 206, 160);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-nav{
    grid-area: main-nav;
}
@media (max-width:860px){
    .padre{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .footer{
        display: grid;
        margin-top: 800px;
        height: auto;


    }
    .socio{
        display: grid;
        margin-top: 400px;
        margin-bottom: 5px;
    }
    .main{
        margin-top: 3px;
        margin-bottom: 3px;
    }
    
    
    
}
.descri{
    border: 3px solid black;
    height: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}
.main-s{
    grid-area: main-s;
    border: 3px solid black;
    height: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    
}
article{
    margin-top: 15px;
    margin-bottom: 15px;
}
.click:hover{
    animation: asociar 3s;
}
@keyframes asociar{
    0%{
        border-radius: 10%;
    }
    25%{
        transform: scale(2);
    }
    50%{
        transform: translateX(15px)
    }
    75%{
        transform: translateY(10px);
    }
    
}
.aqui{
    width: 200px;
    height: 200px;
    margin-top: 15px;

}
.socio{
    height: auto;
   margin-top: 3px;
   border: 3px black;
   margin-bottom: 5px;

}

.banner{
    background-image: url("../img/fondobanner.jpg");
    height: 3cm;
    
}

